<footer class="footer bg-dark py-3 mt-auto"> <!-- py means to add padding on footer; mt=margin top auto moves margin to bottom of page -->
    <div class="container">
        <span class="text-muted">&copy;YelpCamp 2022</span> <!--text muted = lighter color -->
    </div>
</footer>